    body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: linear-gradient(-45deg, rgb(20, 14, 14), rgb(48, 120, 166), rgb(46, 155, 208), rgb(236, 215, 171));
      border-top: 1px solid black;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid black;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
      border-radius: 10px;
    }

    .chatbar-username {
      flex: 2;
      border-radius: 10px;
    }

    .message,
    .notification {
      display: flex;
      padding: 6px;
    }

    .message-content,
    .message-username,
    .notification-content {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      display: inline-block;
      padding: 0.5em;
      border-radius: 0.25em;
      color: white;
    }

    .notification-content {
      text-align: center;
      font-style: italic;
      padding: 5px 20px;
    }
    .message-username {
      min-width: 20em;
      font-weight: 700;
    }

    .navbar {
      background: linear-gradient(-45deg, rgb(20, 14, 14), rgb(48, 120, 166), rgb(46, 155, 208), rgb(236, 215, 171));
      border-bottom: 1px solid black;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

    .navbar-user {
      font-style: italic;
      color: white;
    }
    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    .navbar-user{
      float: right;
      line-height: 60px;
      padding: 0 10px;
    }

    input[type=text] {
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      border: 1px solid #DDDDDD;
    }

    input[type=text]:focus {
      box-shadow: 0 0 5px purple;
      border: 1px solid purple;
    }